<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>충무로 3번 출구</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <a th:href= "@{/professor/{cid}/room (cid =${course.cid})}">
            <h1 th:text = "${course.courseName}+${course.cid}"/>
        </a>
        <p class="lead">과제 페이지</p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>과제 이름</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignmentStat.index}"></td>
            <td th:text="${assignment.title}"></td>
            <td>
                <a href="#" th:href="@{/professor/{cid}/{aid}/assignmentDetail (cid=${course.cid}, aid=${assignment.aid})}"
                   class="btn btn-primary" role="button">자세히 보기</a>
            </td>
        </tr>
        </tbody>
        <a href="#"  class="btn btn-primary" role="button"
           th:href="@{/student/{cid}/assignmentAddForm (cid=${course.cid})}">추가</a>

    </table>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>