<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>충무로 3번 출구</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1 th:text = "${course.courseName}+${course.cid}"/>
        <p class="lead">출석 페이지</p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>아이디</th>
            <th>날짜</th>
            <th>출석 상태</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendance : ${attendances}">
            <td th:text="${attendance.enlist.student.sid}"></td>
            <td th:text="${attendance.date}"></td>
            <td th:text="${attendance.attendanceStatus}"></td>
            <td>
            <a href="#" th:href="@{/professor/{cid}/{aid}/attendanceUpdate (cid =${course.cid}, aid=${attendance.aid})}"
               class="btn btn-primary" role="button">수정</a>
            </td>
        </tr>
        </tbody>

    </table>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>