<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>충무로 3번 출구</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <a th:href= "@{/professor/{cid}/room (cid =${course.cid})}">
        <h1 th:text = "${course.courseName}+${course.cid}"/>
         </a>
        <p class="lead" >성적 수정</p>
    </div>
    <h4>제출 정보</h4>
    <form input th:action ="@{/professor/{cid}/{aid}/{hid}/updateScore
    (cid=${course.cid}, aid=${assignment.aid}, hid=${handIn.hid})}" th:method = "post" enctype="multipart/form-data">
        <label class ="label lable-info">성적 입력</label>
        <input type="number" th:field ="${handInForm.score}"
               th:value="${handInForm.score}" min ="0" th:max ="${assignment.perfectScore}" ></input>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>