<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>충무로 3번 출구</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1 th:text = "${course.courseName}+${course.cid}"/>
        <p class="lead">QA 페이지</p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>질문자</th>
            <th>질문 날짜</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qa : ${qas}">
            <td th:text="${qaStat.index}"></td>
            <td th:text="${qa.student.sid}"></td>
            <td th:text="${qa.dateTime}"></td>
            <td>
                <a href="#" th:href="@{/professor/{cid}/{qid}/qaDetail (cid=${course.cid}, qid=${qa.qid})}"
                   class="btn btn-primary" role="button">자세히 보기</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>