<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>충무로 3번 출구</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <a th:href= "@{/professor/{cid}/room (cid =${course.cid})}">
            <h1 th:text = "${course.courseName}+${course.cid}"/>
        </a>
        <p class="lead">세부 정보</p>
    </div>
    <h4>QA 정보</h4>
    <div>
        <label class ="label lable-info">질문자</label>
        <p th:text ="${qa.student.sid}"/>
    </div>
    <div>
        <label class ="label lable-info">날짜</label>
        <p th:text ="${qa.dateTime}"/>
    </div>
    <div>
        <label class ="label lable-info">답변자</label>
        <p th:text ="${qa.professor.pid}"/>
    </div>
    <div>
        <label class ="label lable-info">질문</label>
        <p th:text ="${qa.question}"/>
    </div>
    <div>
        <label class ="label lable-info">답변</label>
        <p th:text ="${qa.answer}"/>
    </div>
    <p>
        <a href="#"  class="btn btn-primary" role="button"
           th:href="@{/professor/{cid}/qa (cid=${course.cid})}">목록</a>
        <a th:if ="${session.user.pid} == ${qa.professor.pid}" href="#"
           th:href="@{/professor/{cid}/{qid}/qaUpdateForm (cid=${course.cid}, qid=${qa.qid})}"
           class="btn btn-primary" role="button">답변 수정</a>
    </p>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>